.main_container {
    width: 900px;
    height: 900px;
    background-color: #ECE9D8;
}

.chat_head {
    background-image: linear-gradient(#95D264,#B7DF90, #DAECC1 ,#FDFAF1);
    background-repeat: no-repeat;
    width: 550px;
    height: 150px;
    display: grid;
}

.profile > img {
    width: 100px;
    height: 100px;
    margin: 20px;
}